<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">    
</head>
<body>
    <header class="header">
        <hgroup>
            <img src="{{ url_for('static', filename='logo.png') }}">
        </hgroup>
    </header>
    
    <section class="demo">
    
        <dl class="list maki">
            <dt>Menu</dt>
            <dd><a href="/prodotti.html">I nostri prodotti</a></dd>
            <dd><a href="/contattaci.html">Contattaci</a></dd>
            <dd><a href="/crediti.html">Crediti</a></dd>
        </dl>
    
    </section>
</body>
</html>